---
layout: default
---
<div id="container">
  <nav>
    <a href="/">Recent</a>
    <a href="/archives.html">Archives</a>
  </nav>

  <article>
    <section>
      <div class="header">
        <div class="date">
          <time pubdate="pubdate"
                datetime="{{ post.date | date: '%Y-%m-%d' }}">
            {{ post.date | date: "%b %-d" }}
          </time>
        </div>
        <h2>{{ page.title }}</h2>
      </div>
      <div class="content">{{ content }}</div>
    </section>
  </article>
</div>
