---
layout: default
---
<div id="container">
  <header>
    <h1>Kato Kazuyoshi</h1>
    <div id="cse">Loading</div>
  </header>
  {% for post in paginator.posts %}
  <article class="{{ post.date | date: '%a' | downcase }} {{ post.layout }}">
    <section>
      <div class="header">
        <div class="date">
          <time pubdate="pubdate"
                datetime="{{ post.date | date: '%Y-%m-%d' }}">
            {{ post.date | date: "%b %-d" }}
          </time>
        </div>
        <h2>{{ post.title }}</h2>
        <a class="permalink" href="/2011{{ post.url }}">&#x2704;</a>
      </div>
      <div class="content">{{ post.content }}</div>
    </section>
  </article>
  {% endfor %}

  <div id="paginator">
    <div id="newer">
      {% if paginator.previous_page %}
      <a href="/" title="Newest">&#x2780;</a>
      <a href="{% if paginator.previous_page > 1 %}page{{paginator.previous_page}}{% endif %}/" title="Newer">&laquo;</a>
      {% endif %}
    </div>
    <div id="older">
      {% if paginator.next_page %}
      <a href="page{{paginator.next_page}}/" title="Older">&raquo;</a>
      {% endif %}
    </div>
  </div>
</div>
